*.dmg
!public/*.dmg
*.zip
!public/dist_*.zip
!public/backend_*.zip
public/Kodo_POS_Windows_Standalone.zip
__pycache__/

build/
Installation_Pack/
data/
.agents/
.DS_Store
._*
.next/
*.tsbuildinfo
*.db
node_modules/
.npm-cache/
zih5Ix5L
kodo-pos-firebase-adminsdk-*.json
test_res.txt
